// Remove the border in the left of sidebar
.cl-top-bar .cl-navbar-toggler
.cl-navbar-expand-lg .cl-navbar-nav .cl-nav-link
  border-left 0 !important

.cl-sidebar-wrapper
  box-shadow none

@media (min-width 992px)
  .cl-layout-aside
    border-left-color transparent
