// Makes the project name go to the right corner of the box
.cl-description-col
  flex-grow 1 !important

.cl-project-col
  flex-grow 0
  margin-right 10px

.cl-tag-col
  display none

// Reduce the input width on tracker entry
time-tracker-entry .cl-input-time-picker
  width 55px
