// Correcting borders of text inputs:
// - Time entries
// - Hour entries
// - Project selector

.tracker__time__entry--input {
  border: 1px solid transparent;
}

.timepicker .timepicker--hour {
  border: 1px solid transparent;
}

.project__border {
  border: 1px solid transparent;
}
