.cl-form-control
  background-color $black

.cl-redesign .cl-input-time-picker-sum
.modal-dialog .cl-input-time-picker-sum
  color $white !important

.cl-redesign [type=text]
.modal-dialog [type=text]
  background-color $black
  color $white !important

.cl-redesign time-tracker-recorder:hover
  .cl-input-timetracker-main:not([disabled])
    &, &:hover
      border 1px solid $light-black !important
