.cl-card
  border 1px solid $light-black !important
  background-color $background

@media (min-width 992px)
  .cl-card
    border-bottom 1px solid $light-black

.cl-card-header
  background-color $black
