// Uses Helvetica Neue as default font or default
body
  font-size 0.9rem
  font-family Helvetica Neue, var(--font-family-sans-serif)

  // It is needed because it doesn't inherits body's font-size
  .cl-form-control
    font-size 0.9rem
